@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h-mobile-only {
  display: none;
}

@media screen and (max-width: 415px) {
  .h-mobile-only {
    display: block;
  }
}

.h-desktop-only {
  display: block;
}

@media screen and (max-width: 415px) {
  .h-desktop-only {
    display: none;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.block {
  padding: 0 30px;
  margin: 0 auto;
}

.block--full {
  padding: 0;
  max-width: 540px;
}

.module {
  margin-bottom: 3.75rem;
}

@-webkit-keyframes module--blink {
  0% {
    opacity: 0.3;
  }

  30% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes module--blink {
  0% {
    opacity: 0.3;
  }

  30% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.header {
  position: relative;
  z-index: 200;
  padding: 36px 0 50px 0;
}

.header__burger-menu {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -20px;
}

.burger-menu {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 23px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes bottom-line-to-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }

  50% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(0deg);
            transform: translate3d(0, -11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(45deg);
            transform: translate3d(0, -11px, 0) rotate(45deg);
    background-color: #eee;
  }
}

@keyframes bottom-line-to-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }

  50% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(0deg);
            transform: translate3d(0, -11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(45deg);
            transform: translate3d(0, -11px, 0) rotate(45deg);
    background-color: #eee;
  }
}

@-webkit-keyframes bottom-line-to-burger {
  0% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(45deg);
            transform: translate3d(0, -11px, 0) rotate(45deg);
    background-color: #eee;
  }

  50% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(0deg);
            transform: translate3d(0, -11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }
}

@keyframes bottom-line-to-burger {
  0% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(45deg);
            transform: translate3d(0, -11px, 0) rotate(45deg);
    background-color: #eee;
  }

  50% {
    -webkit-transform: translate3d(0, -11px, 0) rotate(0deg);
            transform: translate3d(0, -11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }
}

@-webkit-keyframes top-line-to-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }

  50% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(0deg);
            transform: translate3d(0, 11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(-45deg);
            transform: translate3d(0, 11px, 0) rotate(-45deg);
    background-color: #eee;
  }
}

@keyframes top-line-to-x {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }

  50% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(0deg);
            transform: translate3d(0, 11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(-45deg);
            transform: translate3d(0, 11px, 0) rotate(-45deg);
    background-color: #eee;
  }
}

@-webkit-keyframes top-line-to-burger {
  0% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(-45deg);
            transform: translate3d(0, 11px, 0) rotate(-45deg);
    background-color: #eee;
  }

  50% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(0deg);
            transform: translate3d(0, 11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }
}

@keyframes top-line-to-burger {
  0% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(-45deg);
            transform: translate3d(0, 11px, 0) rotate(-45deg);
    background-color: #eee;
  }

  50% {
    -webkit-transform: translate3d(0, 11px, 0) rotate(0deg);
            transform: translate3d(0, 11px, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: #000;
  }
}

.burger-menu > div {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.burger-menu > div:nth-child(1) {
  top: 0;
}

.burger-menu > div:nth-child(2) {
  top: 11px;
}

.burger-menu > div:nth-child(3) {
  bottom: 0;
}

.burger-menu--close > div:nth-child(1) {
  -webkit-animation-name: top-line-to-x;
          animation-name: top-line-to-x;
}

.burger-menu--close > div:nth-child(2) {
  opacity: 0;
}

.burger-menu--close > div:nth-child(3) {
  -webkit-animation-name: bottom-line-to-x;
          animation-name: bottom-line-to-x;
}

.burger-menu--open > div:nth-child(1) {
  -webkit-animation-name: top-line-to-burger;
          animation-name: top-line-to-burger;
}

.burger-menu--open > div:nth-child(2) {
  opacity: 1;
}

.burger-menu--open > div:nth-child(3) {
  -webkit-animation-name: bottom-line-to-burger;
          animation-name: bottom-line-to-burger;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes nav--open-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nav--open-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav__item {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}

.nav--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: "nav--open-menu";
          animation-name: "nav--open-menu";
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
}

.logo {
  text-align: center;
}

.logo__image {
  width: 120px;
  margin: 0 auto;
}

.logo svg path {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.logo--inverse svg path {
  fill: #fff !important;
}

.title {
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 1.0625rem;
  padding: 13px 0 9px 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.title__right {
  position: absolute;
  right: 0;
  font-size: 0.625rem;
  color: green;
}

.title::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 3px;
}

.content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
}

.content strong {
  font-weight: bold;
}

.content p {
  margin: 1em 0;
}

.content a {
  text-decoration: underline;
}

.content__asteriscos {
  font-size: 0.8em;
  color: #555;
}

.image {
  width: 100%;
}

.pictures {
  font-size: 0;
  position: relative;
}

.pictures__images {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background: #000;
  position: relative;
}

.pictures__image {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.pictures__image--show {
  opacity: 1;
  z-index: 1;
}

.pictures__button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  border-radius: 100px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0;
  padding: 0;
  z-index: 10;
}

.pictures__button > svg {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: 12px;
}

.pictures__button > svg path {
  fill: #fff;
}

.pictures__button--prev {
  left: 20px;
}

.pictures__button--next {
  right: 20px;
}

.timetable {
  width: 100%;
}

.timetable td {
  padding: 5px 0;
  font-size: 0.8125rem;
}

.timetable td:nth-child(1) {
  width: 120px;
}

.timetable__row-today {
  font-weight: bold;
}

.social-media {
  font-size: 0;
  text-align: center;
}

.social-media__item {
  font-size: 1.875rem;
  margin: 0 0.5rem;
}

.footer {
  text-align: center;
  font-size: 11px;
  color: #ccc;
  margin-bottom: 20px;
}

.footer a {
  color: inherit;
}

