.content {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;

    strong {
        font-weight: bold;
    }

    p {
        margin: 1em 0;
    }

    &__asteriscos {
        font-size: 0.8em;
        color: #555;
    }
}